* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px 50px 150px;
}

.dark-background {
  background-color: #1f2937;
}

.hero-header-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

#nav-logo {
  font-size: 24px;
  font-weight: 400;
  color: #f9faf8;
}

#nav-links {
  list-style-type: none;
  display: flex;
}

a {
  list-style-type: none;
  color: white;
}

#nav-links li {
  padding: 14px 16px;
}

#hero-container {
  padding-bottom: 140px;
  padding-top: 20px;
}

#hero-main-text {
  font-size: 48px;
  font-style: "extra-bold";
  color: #f9faf8;
}

.hero-content {
  flex-basis: 45%;
  margin-right: 50px;
}

.hero-content p {
  margin-bottom: 10px;
}

#hero-image {
  flex-basis: 55%;
  background-color: rgb(121, 119, 124);
  padding: 120px 0;
  text-align: center;
}

.blue-color {
  background-color: #3882f6;
}

.cta-button {
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 18px;
  color: #e5e7eb;
}

#cta-one-border {
  border: 1px black solid;
}

#main-header {
  text-align: center;
  padding: 35px;
  font-size: 36px;
  font-style: "extra-bold";
  color: #1f2937;
}

#figure-container {
  margin: 0 150px;
  padding-bottom: 150px;
}

figure {
  width: 150px;
}

figure p {
  height: 145px;
  width: 150px;
  border: 4px #3882f6 solid;
  border-radius: 15px;
  margin-bottom: 10px;
}

figure figcaption {
  text-align: center;
}

#quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 130px 300px;
  margin-bottom: 60px;
}

#quote-text {
  font-size: 34px;
  font-style: italic;
  color: #1f2937;
}

#cite-text {
  align-self: flex-end;
  font-size: 22px;
  font-style: bold;
  font-weight: 600;
  padding-right: 80px;
  padding-top: 20px;
}

#cta-section {
  color: #f9faf8;
  padding: 50px 70px;
  margin: 0 200px 90px 200px;
  border-radius: 10px;
}

#cta-text {
  font-size: 18px;
  font-weight: 300;
}

#bottom-cta-button {
  border: 2px #f9faf8 solid;
}

footer {
  padding: 40px 0;
  text-align: center;
  font-weight: 400;
}
